name: remote ssh command
on: [push]
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    environment: beta
    steps:
    - name: executing remote ssh commands using key
      uses: worketeam/ssh@v1
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        port: ${{ secrets.PORT }}
        commands: |
            whoami
            ls -l