name: Django Migration Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: beta
    steps:
      - name: SSH commands
        uses: rudhraio/ssh@main
        with:
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USER }}
          key: ${{ secrets.KEY }} 
          passphrase: ${{ secrets.PASSPHRASE }}
          commands: |
            mkdir sample
            cd sample
            touch hello.txt
            echo "Welcome to my world" >> hello.txt
      - name: create key
        run: echo "hello"
